<h2>Create New Landmark</h2>

<form class="create_landmark" action="/landmarks" method="post">
  <label for="landmark_name">Landmark Name:</label>
  <input type="text" name="landmark[name]" id="landmark_name">
  <label for="landmark_year_completed">Landmark Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br>
  <p>does your figure have any of these titles?</p>
  <% @titles.each do |title| %>
  <input type="checkbox" name="figure[title_ids][]" value="<%title.id%>" id="title_<%=title.id%>" <%="checked" if @figure.title_ids.include?(title.id)%>><%=title.name%>
  <% end %>
  <br>
  <p>does your figure have any of these figures?</p>
  <% @figures.each do |figure| %>
  <input type="radio" name="landmark[figure_id]" value="<%=figure.id%>" id="figure_<%=figure.id%>"><%=figure.name%>
  <% end %>
  <br>
  <label for="landmark_figure">Create a new figure for your Landmark:</label>
  <input type="text" name="figure[name]" id="new_figure">
  <label for="landmark_title">Create a new title for your Landmark (make multiple by comma separating them):</label>
  <input type="text" name="title[name]" id="new_title">
  <input type="submit" value="Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
