<h2>Create a new Figure!</h2>
<form class="create_figure" action="/figures" method="post">
  <label for="figure_name">Figure Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br>
  <p>does your figure have any of these titles?</p>
  <%@titles.each do |title|%>
  <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>">><%=title.name%>
  <% end %>
  <br>
  <p>does your figure have any of these landmarks?</p>
  <%@landmarks.each do |landmark|%>
  <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%>
  <% end %>
  <br>
  <label for="figure_landmark">Create a new landmark for your Figure:</label>
  <input type="text" name="landmark[name]" id="new_landmark">
  <label for="figure_title">Create a new title for your Figure (make multiple by comma separating them):</label>
  <input type="text" name="title[name]" id="new_title">
  <input type="submit" value="Create New Figure">
</form>